[Interface]
Address = {{ wireguard_server_listen_address }}
ListenPort = {{ wireguard_server_port }}
PrivateKey = {{ wireguard_server_privatekey }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wireguard_server_nat_inf }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wireguard_server_nat_inf }} -j MASQUERAD

